/* COMMON STYLES */
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: "UbuntuLight", sans-serif;
  overflow-x: hidden; }

h1, h2, h3, h4 {
  font-weight: normal;
  font-family: "UbuntuBold", sans-serif; }

h1 {
  text-transform: none;
  font-size: 3em;
  color: #fff; }

h2 {
  text-transform: uppercase;
  font-size: 1.25em;
  line-height: 1.25em; }

h3 {
  text-transform: uppercase;
  color: #fff;
  margin: 0; }

p {
  color: #565a5c;
  line-height: 1.375em; }

.button {
  display: inline-block;
  font-family: "UbuntuBold", sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid #fc7270;
  font-size: 20px;
  padding: 10px 90px;
  cursor: pointer;
  -webkit-transition: all .25s ease;
  transition: all .25s ease; }
  .button:hover, .button:active, .button:focus {
    color: #fff;
    text-decoration: none; }
  .button:hover {
    background-color: #fc7270; }
  .button:active, .button:focus {
    background-color: #fb4b48; }

.logo {
  text-transform: uppercase;
  font-size: 80px;
  color: #fff;
  font-family: "FjallaOneRegular", sans-serif;
  line-height: 0.625em; }
  .logo:hover, .logo:active, .logo:focus {
    text-decoration: none;
    color: #fff; }
  .logo span {
    color: #fc7270;
    font-size: 0.8125em; }
.recommend {
  color: #fc7270;
  text-transform: uppercase;
  margin: 0;
}
.rpwwt-widget {
  position: absolute;
  top: 30px;
  text-align: left;
  background-color: rgba(0, 0, 0, .35);
  padding: 10px 10px 0 10px;
}
.rpwwt-widget a{
  color: #ffffff;
  text-decoration: underline;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
.rpwwt-widget a:hover{
  color: #fc7270;
}
.rpwwt-post-title{
  font-size: 13px;
}
.main-head .rpwwt-widget ul {
  margin-top: 5px;
}
.main-head .rpwwt-widget ul li {
  margin-bottom: 5px;
}


/* COMMON STYLES */
/* HEADER */
.vegas-container {
  min-height: 800px !important; }

.vegas-slide::after {
  content: '';
  position: absolute;
  background-color: #565656;
  opacity: .4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.main-head {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 30px 0 130px;
  background-color: #000; }
  .main-head .header-content .top_nav {
    text-align: right;
    font-family: "OpenSansRegular", sans-serif; }
    .main-head .header-content .top_nav form {
      color: #fff;
      position: relative;
      display: inline-block; }
      .main-head .header-content .top_nav form input[type=search] {
        background-color: transparent;
        border: 1px solid #fff;
        letter-spacing: 2px;
        text-indent: 8px;
        width: 160px;
        height: 37px;
        line-height: 37px;
        padding: 0;
        padding-right: 30px;
        font-size: 0.75em; }
      .main-head .header-content .top_nav form input[type=submit] {
        position: absolute;
        right: 10px;
        top: 0;
        background-color: transparent;
        border: none;
        background: url(../img/icons/search.png) no-repeat center;
        height: 38px;
        line-height: 36px;
        width: 20px; }
    .main-head .header-content .top_nav .logbtn {
      font-family: "OpenSansRegular", sans-serif;
      background: url(../img/icons/login.png) no-repeat 88%;
      padding: 0 50px 0 8px;
      margin-left: 3px;
      text-transform: none;
      border: 1px solid #fff;
      font-size: 0.875em;
      height: 38px;
      line-height: 36px;
      vertical-align: top;
      letter-spacing: 2px;
      -webkit-transition: all .25s ease;
      transition: all .25s ease; }
      .main-head .header-content .top_nav .logbtn.active, .main-head .header-content .top_nav .logbtn:hover {
        background-color: rgba(255, 255, 255, 0.15); }
      .main-head .header-content .top_nav .logbtn.logged:hover {
        background-color: rgba(255, 255, 255, 0.15); }
      }
      .main-head .header-content .top_nav .logbtn.logged {
        background: url(../img/icons/logged.png) no-repeat 88%;
      }
      .main-head .header-content .top_nav .log_submnu {
        display: inline-block; }
      .main-head .header-content .top_nav .log_submnu ul {
        display: none;
        position: absolute;
        right: 16px;
        list-style-type: none;
        margin: 0;
        text-align: left;
        z-index: 5; }
      .main-head .header-content .top_nav .log_submnu ul::before {
        content: '';
        position: absolute;
        top: -6px;
        right: 10px;
        height: 0;
        width: 0;
        border-bottom: 6px solid #fff;
        border-left: 9.5px solid transparent;
        border-right: 9.5px solid transparent; }
      .main-head .header-content .top_nav .log_submnu ul li {
        border-right: 1px solid #d4d7d7;
        border-left: 1px solid #d4d7d7;
        border-bottom: 1px solid #d4d7d7;
        width: 260px; }
      .main-head .header-content .top_nav .log_submnu ul li a {
        display: block;
        font-family: "OpenSansRegular", sans-serif;
        color: #565a5c;
        font-size: 14px;
        letter-spacing: 2px;
        text-decoration: none;
        background-color: #fff;
        padding: 13px 0 13px 20px;
        -webkit-transition: all .5s ease;
        transition: all .5s ease; }
      .main-head .header-content .top_nav .log_submnu ul li a:hover {
        background-color: rgba(255, 255, 255, 0.8); }
      .main-head .header-content .top_nav .log_submnu ul li .profile {
        background: #fff url(../img/icons/profile.png) no-repeat 95% 50%; }
      .main-head .header-content .top_nav .log_submnu ul li .logout {
        background: #fff url(../img/icons/logout.png) no-repeat 95% 50%; }
  .main-head .header-content .logo {
    display: inline-block;
    border: 10px solid #fff;
    padding: 45px 75px 32px;
    margin: 105px 0 80px; }
  .main-head .header-content h1 {
    margin-bottom: 0;
    line-height: 0.9375em; }
  .main-head .header-content p {
    color: #fff;
    font-family: "UbuntuBold", sans-serif;
    padding: 0 24%;
    margin-bottom: 35px; }
  .main-head .top-mnu {
    position: absolute;
    bottom: 0;
    margin-top: 80px;
    font-family: "OpenSansRegular", sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: lowercase; }
    .main-head .top-mnu ul, .main-head .top-mnu li {
      list-style-type: none;
      margin: 0;
      padding: 0; }
    .main-head .top-mnu li {
      display: inline-block;
      background-color: rgba(86, 86, 86, 0.8);
      width: 180px; }
      .main-head .top-mnu li.active {
        background-color: #fc7270; }
      .main-head .top-mnu li a {
        display: block;
        color: #fff;
        padding: 11px 0;
        -webkit-transition: all .25s ease;
        transition: all .25s ease; }
        .main-head .top-mnu li a:hover {
          text-decoration: none;
          background-color: #fc7270; }

.hidden {
  display: none; }
